@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div class="row">
            <img src="/media/servantLogoSignIn.png" class="rounded" alt="" width="300" height="200s">
        </div>
        <div class="row">
            <div class="col-md">
               
                <h3>Welcome, Please login to continue</h3>
            </div>
            <div class="col-md">
                <a class="btn btn-lg btn-primary btn-block" role="button" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                
            </div>
        </div>

    </div>
