@model CodeLinkMVC.Models.QAnswerViewModel

@{
    ViewData["Title"] = "NextQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Question</h1>

<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Qtext)
        </dd>
        @Html.RadioButtonFor(model => model.Answer.Answer, true) Yes
        @Html.RadioButtonFor(model => model.Answer.Answer, false) No
    </dl>
</div>
<div>
    <a asp-action="Index">Next Question</a> |
    <a asp-action="Index">Skip</a>
</div>
